.div-heading{
  font-size: 26px;
  font-weight: 500;
  color: #fff;
  background: #000;
  border-radius: 5px;
  margin: -20px auto;
  padding: 12px;
  width: 95%;
  box-shadow: 0 4px 20px 0 rgba(0,0,0,.14), 0 7px 10px -5px rgba(0,0,0,.4);
}
.link-profile-section{
  margin: 34px 0;
}
.inner-content{
  margin-top: 40px;
  padding: 0 15px;
}
.link-profile-container{
  background: #fff;
  padding: 5px;
  width: 50%;
  margin: 0 auto;
  box-shadow: 0 3px 10px #ccc;
  border-radius: 5px;
}
.inner-content img{
  width: 45px;
  height: 45px;
}
.border-box{
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 15px;
  display: flex;
  cursor: pointer;
  box-shadow: 0 0 5px 0 #ccc;
  align-items: center;
}
.border-box:focus{
  outline: 0;
}
.text-div{
  margin-left: 12px;
  color: #777;
}
.link-div{
  justify-content: center;
}
@media (max-width: 1400px){
  border-box{
    width: 40%;

  }
}
@media (max-width: 1200px){
  .link-profile-container {
    background: #fff;
    padding: 5px;
    width: 60%;
}
.border-box{
  width: 46%;

}

}
@media (max-width: 1024px){
.text-div {
  margin-left: 5px;
}
}