.flexy{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 53px 0;
  background: url(../../../assets/images/LoginInflu.png)center/100% no-repeat;
}

.form-content{
  width: 425px;
  background: #fff;
  padding: 10px 20px 20px;
  border-radius: 5px;
  box-shadow: 0 3px 10px #ccc;
}
.signin-input{
  margin-top: 30px;
}
.fa-eye,
.fa-eye-slash,
.fa-close {
  position: absolute;
  right: 0;
  top: 10px;
  font-size: 18px;
  cursor: pointer;
}

.privacy {
  color: #337ab7!important;
  font-size: 13px;
  transition: none;
}
.forgot{
  color: #337ab7!important;
  font-weight: 500;
  font-size: 16px;
  transition: none;
}
.forgot:hover{
  color: #e20074!important;
  text-decoration: underline!important;
}
.mat-form-field input{
  font-size: 24px;
  font-weight: 600;
}
.error{
  position: absolute !important;
  color: #c00;
  bottom: -19px;
}
.div-header{
  position: relative;
  font-weight: 700;
  font-size: 30px;
  padding: 10px;
  box-shadow: 0 7px 15px #a5a5a5;
  margin-top: -30px;
  border-radius: 5px;
  width: 100%;
  background: #000;
  color: #fff;
  box-sizing: border-box;
}
.social-icon a{
  margin: 0 10px;
}
.sign-in-button{
  width: 90%;
  font-size: 24px !important;
  box-shadow: 0 14px 26px -12px rgba(0,0,0,.42), 0 4px 23px 0 rgba(0,0,0,.12), 0 8px 10px -5px rgba(0,0,0,.2)!important;
}
.sign-in-button:hover{
  box-shadow: none!important
}
.sign-up{
  color:#337ab7;
}
.privacy a{
  color:#337ab7;
  font-weight: 400;
}
.sign-up:hover,
.privacy a:hover{
  color: #e20074!important;
  text-decoration: underline;
}
.signup-label{
  margin: 10px 0 0;
  font-size: 16px;
  display: block;
  font-weight: 500;
}
@media  (max-width: 992px){
  .form-content {
    width: 400px;
}
}