<!-- <app-loader></app-loader> -->
<div class="main-content flexy">
<div class="container">
    <form class="form-content" [formGroup]="registerUser" (ngSubmit)="onSubmit()">
      <div class="col-md-12">
                <div class="heading">
            <i  class="fa fa-user"></i>
            Sign Up To Your Account
        </div>

        <div class=" mt-4">
        <div class="row">
            <div class="col-md-4">
               
                 
                  <!-- <input type="text" matInput  name="lastname" placeholder=" Last Name" formControlName="lastName"  [(ngModel)]="model.last_name"required> -->
          

                  <mat-form-field class="w-100 mb-4">
                      <input  type="text" matInput placeholder="First Name" formControlName="firstName"  [(ngModel)]="model.first_name" required>
                      <mat-error *ngIf="registerUser.controls.firstName.touched && registerUser.controls.firstName.invalid">
                        <mat-error *ngIf="registerUser.controls.firstName.errors.required">Name cannot be empty </mat-error>
                    </mat-error>
                    
                      <!-- <mat-error *ngIf="registerUser.controls.firstName.hasError('required')"> FirstName is required
                      </mat-error> -->
                      <mat-error *ngIf="registerUser.controls.firstName.hasError('pattern')"> Alphabets Only
                        </mat-error>
                      <!-- <mat-error *ngIf="submitted && f.firstName.errors" class="invalid-feedback">
                        <span *ngIf="f.fullName.errors.required">First Name is required</span>
                      </mat-error> -->
                      <mat-error *ngIf="registerUser.controls.firstName.hasError('minlength')"> Name should be between 2 to 60 characters
                      </mat-error>
                      <mat-error *ngIf="registerUser.controls.firstName.hasError('maxlength')"> Name should be between 2 to 60 characters
                      </mat-error>
                    </mat-form-field>

                    <!-- <input type="text" matInput  name="firstname" placeholder=" First Name" required> -->
                   


                  
              


                       
                       

                    <mat-form-field class="w-100 select mb-4">
                        <mat-select placeholder="Select Gender" name="relationship" formControlName="gendeR"  style="color: #000"[(ngModel)]="model.gender"  >
                          <mat-option *ngFor="let g of genders" [value]="g.value">{{ g.show }}</mat-option>
                        </mat-select>
                      <mat-error *ngIf="submitted && f.gendeR.errors" class="invalid-feedback">
                        <span *ngIf="f.gendeR.errors.required">Gender is required</span>
                      </mat-error>
                      </mat-form-field>
                        
                  
                     
                      <mat-form-field class="w-100 mb-4">
                        <input matInput class="text-uppercase"  type="text" id="state" [(ngModel)]="vin_Data.state" value="{{vin_Data.state}}"
                          formControlName="staTe" placeholder="State / Province" required />
                        <!-- <mat-error *ngIf="register.controls.state.value == ''">
                          <strong>State cannot be empty</strong>
                        </mat-error> -->
                        <mat-error *ngIf="registerUser.controls.address.touched && registerUser.controls.address.invalid">
                          <mat-error *ngIf="registerUser.controls.address.errors.required">Address cannot be empty </mat-error>
                        </mat-error>
                        <mat-error *ngIf="registerUser.controls.address.hasError('minlength')"> Address should be minimum 3  characters
                          </mat-error>
                          <mat-error *ngIf="registerUser.controls.address.hasError('pattern')"> Not according to pattern
                            </mat-error>
                      </mat-form-field>
                         
                    
            </div>
           



 <!-- <mat-form-field style="width: 97%">
                            <input [type]="hide ? 'password' : 'text'" matInput placeholder="Confirm Password"  [(ngModel)]="password2" (focusout)="showAllert()"   type="password" name="pd" required>
                            <i *ngIf= "hide" class="fa fa-eye eye-icon" title="Show Password" (click)="hide = !hide"></i>
                            <i *ngIf= "!hide" class="fa fa-eye-slash eye-icon" title="Hide Password" (click)="hide = !hide"></i>
                            <mat-error *ngIf="passwordFormControl.hasError('required')">
                              Password is <strong>required</strong>
                            </mat-error>
                          </mat-form-field>  -->













            <div class="col-md-4">
                <mat-form-field class="w-100 mb-4">
                    <input  type="text" matInput placeholder="Last Name" formControlName="lastName"  [(ngModel)]="model.last_name" required>
                    <mat-error *ngIf="registerUser.controls.lastName.touched && registerUser.controls.lastName.invalid">
                        <mat-error *ngIf="registerUser.controls.lastName.errors.required">Last Name cannot be empty </mat-error>
                    </mat-error>
                    <mat-error *ngIf="registerUser.controls.lastName.hasError('pattern')"> Alphabets Only
                      </mat-error>
                    <!-- <mat-error *ngIf="submitted && f.firstName.errors" class="invalid-feedback">
                      <span *ngIf="f.fullName.errors.required">First Name is required</span>
                    </mat-error> -->
                    <mat-error *ngIf="registerUser.controls.lastName.hasError('minlength')"> Name should be between 2 to 60 characters
                    </mat-error>
                    <mat-error *ngIf="registerUser.controls.lastName.hasError('maxlength')"> Name should be between 2 to 60 characters
                    </mat-error>
                  </mat-form-field>
              

                 
                 


                  <mat-form-field class="w-100 mb-4">
                  
                      <!-- <mat-select placeholder="Select Country" formControlName="counTry" name="relationship" style="color: #000" [(ngModel)]="model.country" (ngModelChange)="onSelect($event)" >
                        <mat-option *ngFor="let data of getContriesData" [value]="data.name">{{ data.name }}</mat-option>
                      </mat-select> -->
                      <mat-select 
                       formControlName="counTry" placeholder="Country*" name="relationship" style="color: #000" [(ngModel)]="model.country" (ngModelChange)="onSelect($event)" >
                          <mat-option *ngFor="let item of allcountry  " [value]="item.name" >
                
                              <img class="country-img" src="{{item.image_path}}">
                           <span> {{item.name }}</span>
                          </mat-option>

                        </mat-select>

                      <mat-error *ngIf="registerUser.controls.counTry.touched && registerUser.controls.counTry.invalid">
                          <mat-error *ngIf="registerUser.controls.counTry.errors.required">Country cannot be empty </mat-error>
                        </mat-error>
                      </mat-form-field> 
                   

                       <!-- <input matInput class="sh-text-capt" type="text"  id="city" formControlName="counTry" [(ngModel)]="vin_Data.country"
                       value="{{vin_Data.countryy}}" placeholder="Country" required />

                    
                    
                      <mat-error *ngIf="registerUser.controls.counTry.touched && registerUser.controls.counTry.invalid">
                        <mat-error *ngIf="registerUser.controls.counTry.errors.required">Country cannot be empty </mat-error>
                      </mat-error>
        </mat-form-field> -->


        
              


      
            <!-- <div class="form-group label-floating " [ngClass]="displayFieldCss(register, 'zipcode')"> -->
           
              <p class="clr_red" *ngIf="invalid  && !vin_Data.city && !vin_Data.state && !vin_Data.country">
                Invalid Zip / Postal Code
              </p>
              <!-- <p *ngIf="!invalid  && vin_Data.city && vin_Data.state && vin_Data.country">
                
              </p> -->
            <!-- </div> -->
          
          
        
      <!-- </div> -->

    
        
              <!-- <div class="form-group label-floating" [ngClass]="displayFieldCss(register, 'city')"> -->
                <mat-form-field class="w-100 mb-4">
                  <input matInput class="sh-text-capt" type="text"  id="city" formControlName="ciTy" [(ngModel)]="vin_Data.city"
                    value="{{vin_Data.city}}" placeholder="City" required />
                  <!-- <mat-error *ngIf="register.controls.city.value == ''">
                    <strong>City cannot be empty</strong>
                  </mat-error> -->
                </mat-form-field>
                
              <!-- </div> -->
        
        
            <!-- <div class="form-group label-floating" [ngClass]="displayFieldCss(register, 'state')"> -->
            
            <!-- </div> -->
        








     


               

         


                

                 




              

                    
              










                               <!-- <mat-form-field style="width: 97%">
                            <input [type]="hide ? 'password' : 'text'" matInput placeholder="Confirm Password"  [(ngModel)]="password2" (focusout)="showAllert()"   type="password" name="pd" required>
                            <i *ngIf= "hide" class="fa fa-eye eye-icon" title="Show Password" (click)="hide = !hide"></i>
                            <i *ngIf= "!hide" class="fa fa-eye-slash eye-icon" title="Hide Password" (click)="hide = !hide"></i>
                            <mat-error *ngIf="passwordFormControl.hasError('required')">
                              Password is <strong>required</strong>
                            </mat-error>
                          </mat-form-field>  -->

              
            </div>
            <div class="col-md-4">
                <mat-form-field class="w-100 mb-4">
                    <input  type="text"  matInput id="pho" matInput placeholder="Phone" formControlName="phoNe" (change)=change2($event)  name="pass"   [(ngModel)]="model.phone" [textMask]="{mask: phoneMask}" required>
                     <mat-error *ngIf="registerUser.controls.phoNe.touched && registerUser.controls.phoNe.invalid">
                        <mat-error *ngIf="registerUser.controls.phoNe.errors.required">Phone Number is required
                        </mat-error>
                    </mat-error> 
                    <!-- <mat-error *ngIf="submitted && f.phoNe.errors" class="invalid-feedback"> -->
                      <!-- <span *ngIf="f.phoNe.errors.required">Phone is required</span> -->
                    <!-- </mat-error> -->
                  
                    <!-- <mat-error *ngIf="contactform.controls.phone.hasError('pattern')"> Numbers Only
                    </mat-error> -->
                    <!-- <mat-error *ngIf="isInvalid">please  enter the correct phone number  </mat-error> -->
                    <div class="custom-error" *ngIf="isInvalid==true">please  enter the correct phone number</div>
                
                  </mat-form-field>

                  <!-- <mat-form-field class="w-100 select mb-4">
                      <mat-select placeholder="Select City"  name="relationship" style="color: #000" id="pho" formControlName="ciTy" [(ngModel)]="model.city"  >
                        <mat-option *ngFor="let city of getCity"  [value]="city.name">{{ city.name }}</mat-option>
                      </mat-select>
                      <mat-error *ngIf="submitted && f.ciTy.errors" class="invalid-feedback">
                        <span *ngIf="f.ciTy.errors.required">City is required</span>
                      </mat-error>
                  </mat-form-field>
            
                  <mat-form-field class="w-100 select mb-4">
                      <mat-select placeholder="Select State" formControlName="staTe" name="relationship" style="color: #000"  [(ngModel)]="model.state"  (ngModelChange)="getCities($event)" >
                        <mat-option *ngFor="let data of getContryData1" [value]="data.name">{{ data.name }}</mat-option>
                      </mat-select>
                      <mat-error *ngIf="submitted && f.staTe.errors" class="invalid-feedback">
                        <span *ngIf="f.staTe.errors.required">State is required</span>
                      </mat-error>
                  </mat-form-field> -->
         
                    <mat-form-field class="w-100 select mb-4">
                        <input matInput type="number" maxlength="5" id="zipcode" min="0" 
                          (ngModelChange)="zipcodeCheck(zipcode1.value)" #zipcode1 formControlName="zipcode"
                          placeholder="Zip / Postal Code" required oninput="validity.valid||(value='');" onKeyPress="if(this.value.length==5) return false;" />
                        <mat-error *ngIf="registerUser.controls.zipcode.value == ''">
                          <strong>Zip / Postal Code cannot be empty</strong>
                        </mat-error>
                        <mat-error class="border-right" *ngIf="registerUser.controls.zipcode.hasError('pattern')">
                          Only Numbers
                        </mat-error>
                        <mat-error *ngIf="registerUser.controls.zipcode.errors?.minlength">
                          Only 5 Numbers.
                        </mat-error>
                      </mat-form-field>
                      <mat-form-field class="w-100 mb-4">
                        <input type="text" matInput  name="address" placeholder="Address" formControlName="address"  [(ngModel)]="model.address"required>
                        <!-- <mat-error *ngIf="submitted && f.address.errors" class="invalid-feedback">
                          <span *ngIf="f.address.errors.required">address is required</span>
                        </mat-error> -->
                        <mat-error *ngIf="registerUser.controls.address.touched && registerUser.controls.address.invalid">
                          <mat-error *ngIf="registerUser.controls.address.errors.required">Address cannot be empty </mat-error>
                        </mat-error>
                        <mat-error *ngIf="registerUser.controls.address.hasError('minlength')"> Username should be minimum 3  characters
                          </mat-error>
                          <mat-error *ngIf="registerUser.controls.address.hasError('pattern')"> Not according to pattern
                            </mat-error>
                      </mat-form-field>
                    
            </div>
            <div class="col-md-6">
                <mat-form-field class="w-100 mb-4">
                    <input  type="text" matInput placeholder="Email" formControlName="eMail" name="email" pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$"  [(ngModel)]="model.email" required>
                    <mat-error *ngIf="registerUser.controls.eMail.touched && registerUser.controls.eMail.invalid">
                        <mat-error *ngIf="registerUser.controls.eMail.errors.required">Email cannot be empty </mat-error>
                      </mat-error>
                    <mat-error *ngIf="registerUser.controls.eMail.hasError('pattern')"> Invalid Email
                      </mat-error>
                  </mat-form-field>
                  <mat-form-field class="w-100 mb-4">
                      <input [type]="hide ? 'password' : 'text'"  matInput placeholder="Password" formControlName="passWord"   name="pass" [(ngModel)]="model.password"  required>
                      <i *ngIf= "hide" class="fa fa-eye eye-icon" title="Show Password" (click)="hide = !hide"></i>
          <i *ngIf= "!hide" class="fa fa-eye-slash eye-icon" title="Hide Password" (click)="hide = !hide"></i>
                       <!-- <input  type="text" matInput placeholder="Password" formControlName="passWord"   name="pass" [(ngModel)]="model.password"  required> --> 
                        <!-- <mat-error *ngIf="submitted && f.passWord.errors" class="invalid-feedback">
                          <span *ngIf="f.passWord.errors.required">Password is required</span>
                        </mat-error> -->


                        <mat-error *ngIf="registerUser.controls.passWord.touched && registerUser.controls.passWord.invalid">
                          <mat-error *ngIf="registerUser.controls.passWord.errors.required">password cannot be empty </mat-error>
                        </mat-error>
                        <!-- <mat-error *ngIf="registerUser.controls.passWord.errors.required">password cannot be empty </mat-error> -->
                        <mat-error *ngIf="registerUser.controls.passWord.hasError('pattern')">  password must be according to pattern
                        </mat-error>
                        <mat-error *ngIf="registerUser.controls.passWord.hasError('minlength')">  password must be minum 8 characters
                        </mat-error>
                        <mat-error *ngIf="registerUser.controls.passWord.hasError('maxlength')">  password must be maximum 100 characters
                        </mat-error>
                      </mat-form-field>

            </div>
            <div class="col-md-6">
                <mat-form-field class="w-100 mb-4">
                    <input  type="text" matInput placeholder="Username" formControlName="userName" [(ngModel)]="model.username"   (ngModelChange)="usernamecheck(rt.value)"  #rt required>
                    <!-- <p>{{ userchk}}</p> -->
                    <mat-error *ngIf="registerUser.controls.userName.touched && registerUser.controls.userName.invalid">
                        <mat-error *ngIf="registerUser.controls.userName.errors.required">Username cannot be empty </mat-error>
                    </mat-error>
                    <mat-error *ngIf="registerUser.controls.userName.hasError('minlength')"> Username should be minimum 3  characters
                      </mat-error>
                      <mat-error *ngIf="registerUser.controls.userName.hasError('pattern')"> Not according to pattern
                        </mat-error>
                    <p class="custom-error" *ngIf="check==true">Username already exists</p>
                  </mat-form-field>
                  <mat-form-field class="w-100 mb-4">
                      <input [type]="hide ? 'password' : 'text'"  matInput placeholder=" Confirm Password"  [(ngModel)]="password2" (focusout)="showAllert()"   type="password" name="pd" formControlName="password2"  required>
                      <i *ngIf= "hide" class="fa fa-eye eye-icon" title="Show Password" (click)="hide = !hide"></i>
                      <i *ngIf= "!hide" class="fa fa-eye-slash eye-icon" title="Hide Password" (click)="hide = !hide"></i>
                      <mat-error *ngIf="registerUser.controls.password2.touched && registerUser.controls.password2.invalid">
                          <mat-error *ngIf="registerUser.controls.password2.errors.required">Confirm password cannot be empty </mat-error>
                        </mat-error>
                      <div class="custom-error" *ngIf="wrongPass==false">password donot match</div>
                    </mat-form-field> 
            </div>
            <div class="col-md-3 recaptcha-div">
              <app-recapcha></app-recapcha>
              <div  style="float:right; margin: 50px 25px; font-size: x-large;font-weight: bold;color: red;"  *ngIf="!recaptcha" >Recaptcha is required</div>
            </div>
            <div class="col-md-9">
                  <mat-slide-toggle class="toggle-para">
                      By clicking on the "Register" button below, you understand and agree that the use of this Website, Mobile Apps,
                      AI and ALL other related Technology Platforms are subject to the INFLUENCER <a href="/terms" target="_blank">Terms of Use</a> and <a href="/privacy" target="_blank">Privacy Policy</a>.
                  </mat-slide-toggle>
                <button type="submit"  class="btn btn-primary sign-in-button"  >Sign Up</button>
                <p class="signup-auth ">Already have account. <a [routerLink]="['/authentication/signin']">Sign in</a></p>
            </div>
             
        </div>
      </div>
      </div>
      </form>
</div>
</div>

<!-- upertak -->

<!-- <div class="login-background">
  <div class="bg-2 col-md-12 col-lg-12" style=" padding: 30px 0 20px;
  height: 100%;">
    <form class="login-form-1 create-showcase" [formGroup]="registerUser" (ngSubmit)="onSubmit()">

      <div class="card margin-0">
        <div class="card-header text-center" data-background-color="rose">
          <h4 class="card-title"><label class="font"> Signup to your Account </label></h4>

        </div>
        <p  class="signup-tagline">Okay, lets get started! First, tell us about yourself and the address we're going to help with you</p>

      <div class="row">
        <div class="col-md-4">
          <mat-form-field class="form-group" id="mat-filed">
            <input  type="text" matInput name="username" formControlName="userName"  placeholder="Username"  [(ngModel)]="model.username"   required>
            <mat-error *ngIf="submitted && f.userName.errors" class="invalid-feedback">
              <span *ngIf="f.userName.errors.required">Username is required</span>
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col-md-4">
          <mat-form-field class="example-full-width">
            <input type="text" matInput  name="firstname" placeholder=" First Name" formControlName="firstName"  [(ngModel)]="model.first_name"required>
            <mat-error *ngIf="submitted && f.firstName.errors" class="invalid-feedback">
              <span *ngIf="f.fullName.errors.required">First Name is required</span>
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col-md-4">
          <mat-form-field class="example-full-width">
            <input type="text" matInput  name="lastname" placeholder=" Last Name" formControlName="lastName"  [(ngModel)]="model.last_name"required>
            <mat-error *ngIf="submitted && f.lastName.errors" class="invalid-feedback">
              <span *ngIf="f.fullName.errors.required">Last Name is required</span>
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col-md-4">
          <mat-form-field>
            <input type="text" matInput placeholder="Email" formControlName="eMail" name="email" pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$"  [(ngModel)]="model.email"  required>
            <mat-error *ngIf="submitted && f.eMail.errors" class="invalid-feedback">
              <span *ngIf="f.eMail.errors.required">Email is required</span>
            </mat-error>
          </mat-form-field>
     </div>
        <div class="col-md-4">

          <mat-form-field style="margin-top: 10px">
            <input matInput type="password" placeholder=" Password"  formControlName="passWord"   name="pass" [(ngModel)]="model.password" required>
            <mat-error *ngIf="submitted && f.passWord.errors" class="invalid-feedback">
              <span *ngIf="f.passWord.errors.required">Password is required</span>
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col-md-4">
          <mat-form-field class="catagery " >
          <mat-select placeholder="Select Country" formControlName="counTry" name="relationship" style="color: #000" [(ngModel)]="model.country" (ngModelChange)="onSelect($event)" >
            <mat-option *ngFor="let data of getContriesData" [value]="data.name">{{ data.name }}</mat-option>

          </mat-select>

            <mat-error *ngIf="submitted && f.counTry.errors" class="invalid-feedback">
              <span *ngIf="f.counTry.errors.required">Country is required</span>
            </mat-error>

          </mat-form-field>
        </div>
        <div class="col-md-4">
          <mat-form-field class="example-full-width catagery ">
          <mat-select name="relationship" style="color: #000" formControlName="staTe" [(ngModel)]="model.state"  (ngModelChange)="getCities($event)"  required placeholder="Select States">
            <mat-option *ngFor="let data of getContryData1"  [value]="data.name">{{ data.name }}</mat-option>
          </mat-select>

            <mat-error *ngIf="submitted && f.staTe.errors" class="invalid-feedback">
              <span *ngIf="f.staTe.errors.required">State is required</span>
            </mat-error>
          </mat-form-field>
          </div>

          <div class="col-md-6">
            <mat-form-field class="example-full-width catagery" >
            <mat-select name="relationship" style="color: #000" id="pho" formControlName="ciTy" [(ngModel)]="model.city" required placeholder="Select City">
              <mat-option *ngFor="let city of getCity"  [value]="city.name">{{ city.name }}</mat-option>
            </mat-select>
              <mat-error *ngIf="submitted && f.ciTy.errors" class="invalid-feedback">
                <span *ngIf="f.ciTy.errors.required">City is required</span>
              </mat-error>
            </mat-form-field>
            </div>

            <div class="col-md-6">

              <mat-form-field  style="margin-top: 10px">
                <input type="text" matInput id="pho" formControlName="phoNe" placeholder=" Phone" name="pass"   [(ngModel)]="model.phone"  required>
                <mat-error *ngIf="submitted && f.phoNe.errors" class="invalid-feedback">
                  <span *ngIf="f.phoNe.errors.required">Phone is required</span>
                </mat-error>
              </mat-form-field>
         </div>

     <div class="col-md-6 ">
       <mat-form-field class="example-full-width catagery ">
       <mat-select  name="relationship" formControlName="gendeR" style="color: #000" [(ngModel)]="model.gender" placeholder="Select Gender">
         <mat-option *ngFor="let g of genders" [value]="g.value">{{ g.show }}</mat-option>


       </mat-select>
         <mat-error *ngIf="submitted && f.gendeR.errors" class="invalid-feedback">
           <span *ngIf="f.gendeR.errors.required">Gender is required</span>
         </mat-error>
       </mat-form-field>
 </div>
      </div>
        <div class="row">
          <div class="col-md-6">
          <div class="form-group text-center" [ngClass]="{ 'has-error':!recaptcha}" style="margin: 0 auto">
      <div>
        <app-recapcha style="margin:0 auto; float: left; padding: 10px; margin-top: 10px;"></app-recapcha>
        <div  style="float:right; margin: 50px 25px; font-size: x-large;font-weight: bold;color: red;"  *ngIf="!recaptcha" >Recaptcha is required</div>
      </div>

          </div>
        </div>
        <div class="col-md-6" style="margin-top:10px">
          <p class="signup-auth"><mat-slide-toggle></mat-slide-toggle>
            By clicking on the "Register" button below, you understand and agree that the use of this Website, Mobile Apps,
            AI and ALL other related Technology Platforms are subject to the <a href="https://www.influexpai.com/Terms-and-Conditions" target="_blank">Terms of Use</a> and <a href="https://www.influexpai.com/privacy_policy">Privacy Policy</a>.
          </p>
          <button type="submit"  class="button" tabindex=3 style="margin-top:10px;"> Register</button>
          <p class="signup-auth text-center">Already have account. <a [routerLink]="['/authentication/signin']">Sign in</a></p>
        </div>
        </div>
      </div>
    </form>
  </div>
</div> -->
<app-footer></app-footer>