.flexy{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 40px 0;
  background: url(../../../assets/images/LoginInflu.png)center/100% no-repeat;
}
.heading{
  font-size: 28px;
  font-weight: 500;
  text-align: center;
  background: #000!important;
  color: #fff;
  border-radius: 3px;
  padding: 15px;
  margin: -35px 0 0;
  box-shadow: 0 7px 15px #a5a5a5;
}
.form-content{
  width: 100%;
  padding: 10px 20px 20px;
  border-radius: 5px;
  background: #fff;
  box-shadow: 0 3px 10px #ccc;
}
.recaptcha-div{
  display: contents;
}


.mat-form-field input,
.mat-select {
  font-size: 24px;
  font-weight: 600;
}
.mat-option{
  font-size: 16px!important;
}
.eye-icon{
  position: absolute;
  top: 10px;
  right: 0;
  font-size: 18px;
  cursor: pointer;
}
.custom-error{
  color: #f44336;
    position: absolute;
    top: 39px;
}
.signup-auth{
  font-size: 16px;
    font-weight: 500;
    margin: 5px 0 0 45px;
}
.sign-in-button{
  width: 40%;
    font-size: 24px !important;
    text-transform: capitalize;
    margin: 5px 40px;
    box-shadow: 0 14px 26px -12px rgba(0,0,0,.42), 0 4px 23px 0 rgba(0,0,0,.12), 0 8px 10px -5px rgba(0,0,0,.2)!important;
}
.sign-in-button:hover{
  box-shadow: none!important;
}
.country-img{
  width:25px
}
.country-img span{
  font-size: 13px;
}
.signup-auth a,
.toggle-para a{
  color: #337ab7
}
.signup-auth a:hover,
.toggle-para a:hover{
  color: #e20074!important;
  text-decoration: underline;
}
@media  (max-width: 1200px){
  .signup-auth {
    font-size: 13px;
    margin: 5px 0 0 53px;
}
}