<app-loader></app-loader>
<section id="myrfm">
<div class="container showcase-container ">
<div >
<h1 class="profile-heading">Influencer Showcase</h1>
</div>
  <!-- <div class="container">
      <div class="row">

     <div class="col-md-4" *ngFor="let message of showcase">
       <div class="showcase">
       <img src="{{message.show_image[0]?.image}}" onerror="this.src='../../../assets/images/logos/Logo1.png'" alt="">
       <div class="influcencer-information">
    <p><span>Showcase Title:</span>  {{message.title}}</p>
    <p>Description:   {{message.description}}</p>
     <p>Link: {{message.urls}}</p>


    <p>Status: {{message.status}}</p>
  </div>
  <button> 
    <a (click)="deletemyshowcase(message.id)" >Delete</a>
     </button>  <button> 
      <a routerLink='/showcasedetail' [queryParams]="{ rid:  message.id}">View Detail</a>
       </button>
  </div>
  </div>
  </div>
  </div> -->

<div class="d-flex flex-row flex-wrap justify-content-center">
  <div class="rfm-wrap" *ngFor="let message of showcase">
    <div class="rfm_img">
      <img  img src="{{message.show_image[0]?.image}}" alt="Notes">
    </div>
    <div class="p-3">
      <div class="mb-4">
    <h4 class="m-0 title" ><b>Title : </b> {{message.title}}</h4>
    <p class="m-0"><b>Category :</b> {{message.description}}</p>
    <p class="m-0"><b>url :</b> {{message.urls}}</p>
    <p class="m-0"><b>status :</b> {{message.status}}</p>
  </div>


    <div class="text-center">
      <a class="btn btn-primary" routerLink='/showcasedetail' [queryParams]="{ rid:  message.id}">View detail </a>
      <a class="btn btn-primary" (click)="deletemyshowcase(message.id)">Delete</a>
      <!-- <button (click)="get()" >View detail</button> -->
    </div>
   </div>
  </div>
</div>

</div>
</section>




