<section>
<div class="container ">
<h1 class="text-center">Influencer Showcase</h1>
</div>
  <div class="container">
      <div class="row">

     <div class="col-md-4" *ngFor="let message of showcase">
       <div class="showcase">
       <img src="{{message.show_image[0]?.image}}" onerror="this.src='../../../assets/images/logos/Logo1.png'" alt="">
       <div class="influcencer-information">
    <p><span>Showcase Title:</span>  {{message.title}}</p>
    <p>Description:   {{message.description}}</p>
    <p>Link: {{message.urls}}</p>

    <p>Status: {{message.status}}</p>
  </div>
  <button> 
    <a (click)="deletemyshowcase(message.id)" >Delete</a>
     </button>  <button> 
      <a routerLink='/showcasedetail' [queryParams]="{ rid:  message.id}">View Detail</a>
       </button>
  </div>
  </div>
  </div>
  </div>
</section>

